@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 14px/20px "Lato", Arial, sans-serif;
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper--inner {
    width: 200px;
}

.wrapper--inner > * {
    width: 100%;
    padding: 10px 1rem;
    border: none;
    outline: none;
    height: 36px;
}

.rbgValue {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

